<nav class="navbar navbar-expand-lg bg-dark mb-5 fixed-top">
  <div class="container">
    <div class="kk">
      <p class="navbar-brand text-light nombre" href="#">Noemí Bartolomé Ariza </p>
      <p class="nombre2 text-light"> ILLUSTRATIONS</p>
    </div>
    


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbarText">
      <ul class="navbar-nav ml-auto align-self-end ">
        <li class="nav-item active">
          <a class="nav-link espacio "  href="/"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link espacio" href="/contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link espacio" href="/about">About me</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
