<div class="container mt-5">  
    <!-- Portfolio Grid Items-->
    <div class="row justify-content-left mt-5">
        <!-- Portfolio Item 1-->
        <div class="col-md-6 col-lg-4 mb-5 mt-5 ">
            <div class=" mx-auto mt-5 " >
                
                <img class=" tamano" src="../../../assets/images/poetry-4.jpg"  title="Poetry serie" alt="Imagen portada de la serie " />
            </div>
        </div>
        <!-- Portfolio Item 2-->
        <div class="col-md-6 col-lg-4 mb-5 ml-auto">
            <div class=" mx-auto mt-5 " >
                
                <img class="tamano " src="../../../assets/images/urban-1.jpg"  title="Urban girl serie"alt="..." />
            </div>
        </div>
       
    </div>
</div>