<!-- Gallery -->
<div id="carrupoetry" class="container">

  <div class="row ">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <img src="../../../assets/images/poetry/poetri-4-mini.jpg" alt="poetri 4 cambiar" srcset="" title="Poetry 1">
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../../assets/images/poetry/poetri-2-mini.jpg" alt="poetri 2 cambiar"  title="Poetry 2" >

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../../assets/images/poetry/poetri-1-mini.jpg" alt="poetri 1 cambiar"  title="Poetry 3">

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../../assets/images/poetry/poetri-6-mini.jpg" alt="poetri 6 cambiar"  title="Poetry 4" >

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../../assets/images/poetry/poetri-3-mini.jpg" alt="poetri 3 cambiar" title="Poetry 5" >

    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <img src="../../../assets/images/poetry/poetri-5-mini.jpg" alt="poetri 5 cambiar"  title="Poetry 6" >

    </div>
  </div>
</div>